*{
    margin: 0;
    padding: 0;
box-sizing: border-box;
font-family: 'spartan',sans-serif;
}

h1{
    font-size: 30px;
    line-height: 64px;
    color: #222;

}
h2{
    font-size: 25px;
    line-height: 64px;
    color: #222;
}
h4{
    font-size: 15px;
    color: #222;
}
p{
    font-size: 16px;
    color: #465b52;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px ;
    background: #0d6efd ;
    box-shadow: 0 5px 15px rgb(0,0,0,0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar{
   display: flex;
   align-items: center;
   justify-content: center; 
}

#navbar li{
    list-style: none;
   padding: 0  20px;
   position: relative;    
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight:600 ;
    color: #1a1a1a;
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active{
    color: aqua;
     
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: aqua;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
#mobile{
    display: none;
    align-items: center;


}

#close{
    display: none;
        
}
#hero{
    background-color: white ;
    text-align: center;
    box-shadow: #888178;
    height: 60vh;
    background-size: cover;
    background-position: top 25% right 0;
    padding:  0 80px;
   
 } 
 
#hero h1{
    padding-bottom: 12px;
}

.section-p1{
    padding: 15px 0px;
}

#feature{

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#feature .fe-box{
    width: 200px;
    text-align: center;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
    border:1px solid #888178  ;
    border-radius: 4px;
    margin:15px 0;
    border: none;
}
#feature .fe-box h5 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius:  4px;
    background-attachment:#888178;
}
#product1{
    text-align: center;  
}
#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top:10px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#product1 .pro{
    width: 15%; 
    min-width: 200px;
    padding: 10px 12px;
    border: 1px solid #888178;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    border: none;
    padding-bottom: 20px;
}

#product1.pro img {
    width: 100%;
    border-radius:10px ;
}
.section-m1{
    margin: 40px 0;  
}
 #banner{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     background-image: url("images/th_17.jpg");
 }

  button.normal{
      font-size: 14px;
      font-weight: 600;
      padding: 10px 16px;
      background-color: #0d6efd;
      border-radius: 4px;
      cursor: pointer;
      outline: none;
      transition: 0.2;
      border: none;
 }
 #banner button:hover{
     background-color: #888178;
     color: #fff;
 }

 #sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("images/th_14.jpg");
    padding: 0px;
 }
 #sm-banner button:hover{
    background-color: #888178;
    color: #fff;
}
#newsletter{
    display: flex;
    justify-content:space-between ;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("images/th_7.jpg");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
    padding-top: 30px;
   
}

#newsletter h4{
    font-size: 24px;
    font-weight: 600;
    color:#fff;
}
#newsletter p{
    font-size: 24px;
    font-weight: 600;
    color: #888178;
}

#newsletter p span {
    font-size: 24px;
    font-weight: 600;
    color:#ffbd27;
}
#newsletter input{
   height: 3.125rem;
   padding: 0 1.25em;
   font-size: 14px;
   width: 200px;
   border: 1px;
   border-radius: 4px;
   outline: none;
  
  

}
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col  {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;

    
}
footer h4 {

    font-size: 18px;
    padding-bottom: 20px;
}

footer p {
    font-size: 16px;
    margin: 0 0 8px 0;
}
footer a {
    font-size: 16px;
    margin-bottom: 10px;
    text-decoration:  none;
}

@media (max-width:799px) {

    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px  rgba(0,0,0,0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;


    }

    #navbar.active{
        right: 0px;

    }
    
    #navbar li{
        margin-bottom: 25px;

    }
    #mobile{
        display: flex;
        align-items: center;
    
    
    }
    #mobile{
        color: #1a1a1a;
        font-size: 25px;
        padding-left: 20px;

    }
    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;

    }
    #hero {
        height:  70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
         
        
    }
    #feature {
      
        justify-content: center;
       
    }
    #feature .fe-box{
        margin: 15px 15px;
    }
    #product .pro-container{
        justify-content: center;
    }
    #product .pro{
        margin: 15px;
    }
    #banner{
        height: 20vh;
    }
    #sm-banner .banner-box{
        min-width: 100%;
        height:30vh ;

    }

}

@media (max-width:477px) {
    .section-p1{
        padding: 40px ;
    }
    #header{
        padding: 10px 30px;
    }
    h1{
        font-size: 38px;
    }
    h2{
        font-size: 32px;
    }
    #hero{
        padding: 0 20px;
        background-position: 55%;
    }
    #feature{
        justify-content: space-between;

    }
    #feature .fe-box{
        width: 155px;
        margin: 0 0 15px 0;
    }
    #product1 .pro{
        width:100% ;
    }
    #banner{
        height: 40vh;
    }

    #sm-banner .banner-box{
        height: 40vh;
    }
    #newsletter .form{
        width: 100%;
    }
    footer .copyright{
        text-align: start;

    }
    
}

/*shop page*/

#page-header {
    background-color: #041e42 ;
    width: 100%;
    height: 20vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px; 
}

#page-header h2, h3 {
    color: #fff;
}

#prodetails {
    display: flex;
}

 #pagination{
     text-align: center;



}
#pagination a{
    text-decoration: none;
    background-color: #0d6efd;
    padding: 15px 20px;
    border-radius: 4px;
    color: #222;
    font-weight: 600;
}

/*single product*/
#prodetails .single-pro-image{
    width: 30%;
    margin-right: 50px;
    margin-bottom: 50px;



}
#prodetails .single-pro-details{

    width: 50%;
    padding-top: 30px; 
}

#blog{
    padding:150px 150px 0 150px ;


}
#blog .blog-box{
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 90px;
}

#blog .blog-img{
    width: 50%;
    margin-right: 40px;
    }



#blog img{
    
    height: 300px;
    object-fit: cover;


}

#blog .blog-details{
    width: 50%;
   
}

#blog .blog-details a{
    text-decoration: none;
    font: 15px;
    color: #000;
    font-weight: 700;
    transition: 0.3s;

}
#blog .blog-details a:hover{
    color: #0d6efd;

    
}
#about-head{
    display: flex;
    align-items: center;
}
#about-head div{
    padding-left:60px ;
   
}

#about-app{
    text-align: center;
}
#about-head .about{

    padding :10%;
}





















